<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/daily reward/daily.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="/img/_f3aced6d-129f-4ffe-9077-3f35cb33f860.jpeg" alt="logo">
        </div>
    </div>
    <div class="main">

        <div class="background">


        </div>
        <div class="circle c1"></div>
        <div class="circle c2"></div>
        <div class="circle c3"></div>


        <!-- body -->
        <div id="title"><span class="bot"> DAILY REWARD</span></div>
        <div class="days">
            <div class="day active">
                <span class="box">
                    <span class="item daynum">
                        DAY <span>1</span>
                    </span>
                    <span class="item coin"><img src="/img/Untitled-2.png" alt=""></span>
                    <span class="item number">100</span>
                </span>
            </div>
            <div class="day">
                <span class="box">
                    <span class="item daynum">
                        DAY <span>2</span>
                    </span>
                    <span class="item coin"><img src="/img/Untitled-2.png" alt=""></span>
                    <span class="item number">500</span>
                </span>
            </div>
            <div class="day">
                <span class="box">
                    <span class="item daynum">
                        DAY <span>3</span>
                    </span>
                    <span class="item coin"><img src="/img/Untitled-2.png" alt=""></span>
                    <span class="item number">1k</span>
                </span>
            </div>
            <div class="day">
                <span class="box">
                    <span class="item daynum">
                        DAY <span>4</span>
                    </span>
                    <span class="item coin"><img src="/img/Untitled-2.png" alt=""></span>
                    <span class="item number">2k</span>
                </span>
            </div>
            <div class="day">
                <span class="box">
                    <span class="item daynum">
                        DAY <span>5</span>
                    </span>
                    <span class="item coin"><img src="/img/Untitled-2.png" alt=""></span>
                    <span class="item number">5k</span>
                </span>
            </div>
            <div class="day">
                <span class="box">
                    <span class="item daynum">
                        DAY <span>6</span>
                    </span>
                    <span class="item coin"><img src="/img/Untitled-2.png" alt=""></span>
                    <span class="item number">10k</span>
                </span>
            </div>
            <div class="day">
                <span class="box">
                    <span class="item daynum">
                        DAY <span>7</span>
                    </span>
                    <span class="item coin"><img src="/img/Untitled-2.png" alt=""></span>
                    <span class="item number">100k</span>
                </span>
            </div>
            <div class="day">
                <span class="box">
                    <span class="item daynum">
                        DAY <span>8</span>
                    </span>
                    <span class="item coin"><img src="/img/Untitled-2.png" alt=""></span>
                    <span class="item number">200k</span>
                </span>
            </div>
            <div class="day">
                <span class="box">
                    <span class="item daynum">
                        DAY <span>9</span>
                    </span>
                    <span class="item coin"><img src="/img/Untitled-2.png" alt=""></span>
                    <span class="item number">500k</span>
                </span>
            </div>
            <div class="day">
                <span class="box">
                    <span class="item daynum">
                        DAY <span>10</span>
                    </span>
                    <span class="item coin"><img src="/img/Untitled-2.png" alt=""></span>
                    <span class="item number">1m</span>
                </span>
            </div>
            <div class="day">
                <span class="box">
                    <span class="item daynum">
                        DAY <span>11</span>
                    </span>
                    <span class="item coin"><img src="/img/Untitled-2.png" alt=""></span>
                    <span class="item number">2m</span>
                </span>
            </div>
            <div class="day">
                <span class="box">
                    <span class="item daynum">
                        DAY <span>12</span>
                    </span>
                    <span class="item coin"><img src="/img/Untitled-2.png" alt=""></span>
                    <span class="item number">5m</span>
                </span>
            </div>
        </div>
        <button class="get" type="submit">GET</button>
<br><br><br><br><br><br>
        <!-------------------------------- menu---------------------------------->
        <div class="menu">
            <div class="items">
                <ul>
                    <li> <a href="/tasks/tasks.html" title="tasks"><i class="bi bi-patch-check-fill"></i></a></li>
                    <li> <a href="" title="nft"><i class="bi bi-ui-checks-grid"></i></a></li>
                    <li><a href="" title="home"><i class="bi bi-house-fill"></i></a> </li>
                    <li><a href="/invite page/invite.html" title="invits"><i class="bi bi-people-fill"></i></a></li>
                    <li><a href="/wallet page/wallet.html" title="wallet"><i class="bi bi-wallet-fill"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src=""></script>
</body>

</html>