<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/wallet page/wallet.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="/img/_f3aced6d-129f-4ffe-9077-3f35cb33f860.jpeg" alt="logo">
        </div>
    </div>
    <div class="main">

        <div class="background">


        </div>
        <div class="circle c1"></div>
        <div class="circle c2"></div>
        <div class="circle c3"></div>
        <div id="title"><span class="bot"> WALLET</span></div>
        <P class="P">ENTER YOUR WALLET ADDRESS TO CONNECT YOUR WALLET.</P>
        <div id="link">
            <span class="link">
                <span id="walletCode">646675566565655663</span>
                <span id="copyButton" onclick="copyCode()" class="clipboard"><img src="/img/clipboard.png" alt="copy"></span>
            </span>
            <p id="copyMessage" class="copy-message"></p>
        </div>
        <P class="go">OR GO TO WALLET</P>
        <div id="open">
            <span class="link">
                <button class="open" type="submit">OPEN YOUR WALLET</button>
            </span>
        </div>
        <P class="note">NOTE:   REMEMBER AND BE CURFUL TO WHAT YOU ENTER AND DO NOT TRUST ANYBODY KEEP IT WITH YOURSELF!</P>
     <div class="menu">
        <div class="items">
            <ul>
           <li> <a href="/tasks/tasks.html" title="tasks"><i class="bi bi-patch-check-fill"></i></a></li>
           <li> <a href="/nfts page/nfts.html" title="nft"><i class="bi bi-ui-checks-grid"></i></a></li>
           <li><a href="/home page/home.html" title="home"><i class="bi bi-house-fill"></i></a> </li>
           <li><a href="/invite page/invite.html" title="invits"><i class="bi bi-people-fill"></i></a></li>
           <li><a href="" title="wallet" ><i class="bi bi-wallet-fill"></i></a></li>
        </ul>
        </div>
    </div>
    </div>
   <script src="/wallet page/wallet.js"></script>
</body>

</html>