<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wallet.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/_f3aced6d-129f-4ffe-9077-3f35cb33f860.jpeg') }}" alt="logo">
        </div>
    </div>
    <div class="main">
        <div class="background"></div>
        <div class="circle c1"></div>
        <div class="circle c2"></div>
        <div class="circle c3"></div>
        <div id="title"><span class="bot">WALLET</span></div>

        <p class="P">OUR WALLET ADDRESS:</p>
        <div id="link">
            <span class="link">
                <span id="walletCode">{{ wallet_address }}</span>
                <span id="copyButton" onclick="copyCode()" class="clipboard">
                    <img src="{{ url_for('static', filename='img/clipboard.png') }}" alt="copy">
                </span>
            </span>
            <p id="copyMessage" class="copy-message"></p>
        </div>

        <p class="note">NOTE: REMEMBER AND BE CAREFUL WITH THIS ADDRESS. DO NOT SHARE IT UNLESS NECESSARY!</p>

        {% include 'menu.html' %}
    </div>
    <script src="{{ url_for('static', filename='js/wallet.js') }}"></script>
</body>
</html>
