* {
    margin: 0;
    padding: 0;
    font-family: 'aldrich';

}
.circle {
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    animation: float 5s ease-in-out infinite;
}
.c1, .c2, .c3 {
    background: linear-gradient(to right, var(--pink), #58245B);
    width: 100px;
    height: 100px;
}

.c2 {
    background: linear-gradient(to right, var(--purple), #291B41);
    width: 90px;
    height: 90px;
    left: 25px;
    bottom: 150px;
}

.c3 {
    background: linear-gradient(to right, var(--blue), #10122E);
    width: 80px;
    height: 80px;
    right: 35px;
    bottom: 35px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-color: #060022;
    color: var(--white);
    font-family: 'Aldrich';
    text-align: center;
}

:root {
    --pink: #BB4DC1;
    --dark-blue: #10122E;
    --blue: #333A94;
    --purple: #6A45A7;
    --yellow: #FFA619;
    --light-green: #11B3E9;
    --white: #faf9f6;
}

.aldrich-regular {
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo i {
    font-size: 30px;
    position: absolute;
    right: 0;
    margin-top: 0;
    padding: 10px;
    margin-top: 5px;
    color: var(--purple);
}

.logo button {
    position: absolute;
    right: 50px;
    padding: 8px;
    margin-top: 15px;
    border: none;
    border-radius: 50px;
    color: #060022;
    background-color: var(--purple);
}

.logo .profit {
    position: absolute;
    right: 50px;
    padding: 8px;
    margin-top: 40px;
    font-size: 7px;
    opacity: 70%;
}

.profitCoin {
    font-size: 15px;
}
.profit a{
text-decoration: none;
color: var(--white);
}
.nav {
    display: flex;
}

.main {

    height: 100vh;
    position: relative;
}

.circle {

    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.c1 {
    background: linear-gradient(to right, var(--pink), #58245B);
    width: 120px;
    height: 120px;
    right: 10px;
    top: 100px;
    z-index: -30;
}

.c2 {
    background: linear-gradient(to right, var(--purple), #291B41);
    width: 100px;
    height: 100px;
    left: 25px;
    bottom: 300px;
}

.c3 {
    background: linear-gradient(to right, var(--blue), #10122E);
    width: 80px;
    height: 80px;
    right: 35px;
    bottom: 150px;
}

.bot {
    font-size: 40px;
    background: linear-gradient(to right, #BB4DC1 0%, #9249B4 10%, #9249B4 20%, #39247D 40%, #333A94 50%, #2AF9FE 120%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
}

#title {
    padding-top: 70px;
}

.P {
    padding: 20px 20px;
}


.menu {
    position: absolute;

}

.items ul {
    position: fixed;
    display: flex;
    background-color: #faf9f624;
    width: 97%;
    height: 50px;
    bottom: 0px;
    margin: 5px;
    justify-content: space-around;
    border-radius: 8px;
    align-items: center;



}

@media(min-width:767px) {
    .items {
        margin: 15px;
        width: 96%;

    }
}

.items i {
    font-size: 30px;
    color: var(--purple);
}

.items a {
    color: var(--purple);

}

.items a:checked {
    color: var(--purple);
}

.items i:hover {
    color: var(--white);
}

ul li {
    list-style: none;
}

ul:hover li {
    opacity: .6;
    filter: blur(2px);
}

ul li:hover {
    opacity: 1;
    filter: blur(0px);
}

.bi-house-fill {
    color: var(--white) !important;
}

.icon {
    font-size: 30px;
    padding: 10px;
    background-color: var(--purple);
    border-radius: 50%;
    margin: 10px;
    width: 30px;
    height: 30px;
    color: #060022;
    margin-right: 0px;

}

.user {
    display: flex;
    align-items: center;
}

.name {
    background-color: var(--purple);
    margin-left: 0;
    color: #060022;
    padding: 2px;
    padding-right: 20px;
    border-radius: 0px 50px 0px 0px;
}

.level {
    width: 120px;
    height: 8px;
    background-color: #faf9f658;
    margin: 2px;
    border-radius: 50px;
}

.grade {
    width: 50px;
    height: 8px;
    background: linear-gradient(to right, #BB4DC1 0%, #9249B4 10%, #9249B4 20%, #39247D 40%, #333A94 50%, #2AF9FE 120%);
    ;

    border-radius: 50px;
}

.fullLevel {
    opacity: 50%;
}

.num {
    font-size: 10px;
    cursor: pointer;
}

.number a {
    color: var(--white);
    text-decoration: none;
}

.number a:checked {
    color: var(--white);
}

.coins img {
    width: 30px;
    padding-right: 5px;
}

.coins h2 {
    display: inline;
}

.coins {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pages{
    padding-top: 20px;
}
.page {
    position: relative;
    border-radius: 8px 8px 0px 0px;
    background:linear-gradient(to bottom,#1b008935 , #060022 ) ;
    border-radius: 8px 8px 0px 0px; 
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0px 10px;
}

.page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px; /* Adjust the padding to control the border thickness */
    background: linear-gradient(to bottom,var(--white) , #060022 );
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}
.dailyReward{
    font-size: 10px;
}
.dailyReward img{
    width: 20px;
}
.dailyCoin{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dailyReward p{
    padding: 5px;
}
.dailyReward a{
    text-decoration: none;
    color: var(--white);
}
.dailyReward a:hover{
    color: var(--light-green);
    font-weight:bold ;
}
.dailyCode a{
    text-decoration: none;
    color: var(--white);
}
.dailyCode a:hover{
    color: var(--light-green);
    font-weight:bold ;
}
.select{
    display: flex;
    justify-content: center;

    
}
.butt{
    padding: 5px 10px 5px 10px;
    cursor: pointer;
   
}
.butt:active{
    color: var(--pink);
}
.selec{
    background:linear-gradient(to bottom,#1b008935 , #060022 ) ;
    border-radius: 8px 8px 0px 0px;
    padding: 5px;
}
.selec {
    position: relative;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: small;
    align-items: center;
    margin:0px 5px;
}

.selec::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px; /* Adjust the padding to control the border thickness */
    background: linear-gradient(to bottom,var(--white) , #060022 );
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}
.active::before{
    background: linear-gradient(to bottom,var(--pink) , #060022 );
}
.songName{
    padding: 10px;
}
.songSinger{
    padding: 5px;
    opacity: 50%;
}
#range{
   width: 70%;
}
.music{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    margin: 10px 0px;
}
.time{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0px 5%;
}
.timeRange{
    width: 90%;
    height: 10px;
    background-color:#faf9f658 ;
    margin: 0px 5%;
    border-radius: 50px;
}
.timeRange2{
    
    width: 60%;
    height: 10px;
    background-color:#faf9f658 ;
    border-radius: 50px;
    background: linear-gradient(to right, #BB4DC1 0%, #9249B4 10%, #9249B4 20%, #39247D 40%, #333A94 50%, #2AF9FE 120%);
}
#type{
    cursor: pointer;
}
#heart{
    cursor: pointer;
}
#play{
    cursor: pointer;
}
body {
    animation: fadeIn 2s ease-in; /* Added this line */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.c1, .c2, .c3 {
    animation: pulse 6s infinite ease-in-out; /* Added this line */
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
