* {
    margin: 0;
    padding: 0;
    font-family: 'aldrich';
}

body {
    background-color: #060022;
    color: var(--white);
    font-family: 'Aldrich';
    text-align: center;
   
}

:root {
    --pink: #BB4DC1;
    --dark-blue: #10122E;
    --blue: #333A94;
    --purple: #6A45A7;
    --yellow: #FFA619;
    --light-green: #11B3E9;
    --white: #faf9f6;
}

.aldrich-regular {
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo img {
    width: 50px;
    position: absolute;
    right: 0;
    margin-top: 0;
}
.nav{
    display: flex;
}

.main {

    height: 100vh;
    position: relative;
}

.circle {

    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.c1 {
    background: linear-gradient(to right, var(--pink) , #58245B);
    width: 100px;
    height: 100px;
    right: 10px;
    top: 265px;
    z-index: -30;
}

.c2 {
    background: linear-gradient(to right, var(--purple) , #291B41);
    width: 90px;
    height: 90px;
    left: 25px;
    bottom: 150px;
}

.c3 {
    background: linear-gradient(to right, var(--blue) , #10122E);
    width: 80px;
    height: 80px;
    right: 35px;
    bottom: 35px;
}
.bot{
    font-size: 40px;
    background: linear-gradient(to right,#BB4DC1 0% , #9249B4 10%, #9249B4 20%,#39247D 40%,#333A94 50%, #2AF9FE 120%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  margin-top: 30px;
}
#title {
     padding-top:70px ;}

.P{
    padding: 20px 20px;
}

.link{
    background:linear-gradient(to bottom,#1b008935 , #060022 ) ;
    border-radius: 8px 8px 0px 0px; 
        padding: 20px 5px 20px 5px; }
#task{
    padding-top: 20px;
}
.link {
    position: relative;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: small;
    align-items: center;
    margin: 0px 10px;
}

.link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px; /* Adjust the padding to control the border thickness */
    background: linear-gradient(to bottom,var(--white) , #060022 );
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}

.menu{
    position: fixed;
   
}
.items ul{
    position: fixed;
    display: flex;
     background-color: #faf9f624;
    width: 97%;
    height: 50px;
    bottom: 0px;
    margin: 5px;
    justify-content:space-around ;
    border-radius: 8px;
    align-items: center;

    

}
@media(min-width:767px){
    .items{
        margin: 15px;
        width: 96%;

    }
}
.items i{
    font-size: 30px;
    color: var(--purple);
}
.items a{
    color: var(--purple);

}
.items a:checked{
    color: var(--purple);
}
.items i:hover{
    color: var(--white);
}
ul li{
    list-style: none;
}
ul:hover li{
    opacity: .6;
    filter: blur(2px);
}
 
ul li:hover{
    opacity: 1;
    filter:blur(0px);
}
.bi-patch-check-fill{
    color: var(--white) !important;
}
a.check{
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0px 6px 10px 0 #ffffff3a, inset 0px -6px 10px 0 #0000004e;
    background-color: var(--blue);
    color: var(--white);
    z-index: 100000;
    cursor: pointer;
    text-decoration: none;
}

 a.check:checked{
   color: var(--white);
}
.txt{
    z-index: 100000;
}
.select{
    display: flex;
    justify-content: center;

    
}
.butt{
    padding: 5px 10px 5px 10px;
    cursor: pointer;
   
}
.butt:active{
    color: var(--pink);
}
.selec{
    background:linear-gradient(to bottom,#1b008935 , #060022 ) ;
    border-radius: 8px 8px 0px 0px; 
        padding: 20px 5px 20px 5px; }
.selec {
    position: relative;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: small;
    align-items: center;
    margin: 0px 10px;
}

.selec::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 1px; /* Adjust the padding to control the border thickness */
    background: linear-gradient(to bottom,var(--white) , #060022 );
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: -1;
}
.active::before{
    background: linear-gradient(to bottom,var(--pink) , #060022 );
}