<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/input page/input.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">

        <div class="background">
            <div class="logo">
                <img src="/img/_f3aced6d-129f-4ffe-9077-3f35cb33f860.jpeg" alt="logo">
            </div>
            <div><span class="bot">BOT NAME</span></div>
            <form action="/home page/home.html">
                <div class="input">
                <input type="text" placeholder="ENTER YOUR USERNAME" id="input">
            </div>
            <div class="ok">
                <button type="submit">OK</button>
            </div>
        </form>
            
        </div>
        <div class="circle c1"></div>
        <div class="circle c2"></div>
        <div class="circle c3"></div>

    </div>
</body>

</html>