<div class="menu">
    <div class="items">
        <ul>
            <li><a href="/tasks" title="tasks"><i class="bi bi-patch-check-fill"></i></a></li>
            <li><a href="/nfts" title="nft"><i class="bi bi-ui-checks-grid"></i></a></li>
            <li><a href="/" title="home"><i class="bi bi-house-fill"></i></a></li>
            <li><a href="/invite" title="invites"><i class="bi bi-people-fill"></i></a></li>
            <li><a href="/wallet" title="wallet"><i class="bi bi-wallet-fill"></i></a></li>
        </ul>
    </div>
</div>
